<ul class="navbar-nav mr-auto" xmlns:sec="http://www.w3.org/1999/xhtml">
    <li class="nav-item mr-auto">
        <a class="nav-link" href="/">Главная</a>
    </li>
    <li class="nav-item mr-auto">
        <a class="nav-link" href="/course/myCourses">Мои курсы</a>
    </li>
    <li class="nav-item mr-auto">
        <a class="nav-link" href="/course/createCourse">Создать курс</a>
    </li>
</ul>
<ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto" xmlns:sec="http://www.w3.org/1999/xhtml">
    <li th:with="avatar=${#authentication.getPrincipal().user.avatar}" class="nav-item">
        <a href="/profilepage">
            <img class="nav-img--avatar"
                 th:src="${avatar != null ? '/files/' + avatar.storageFileName : '/assets/images/homePageImages/default.png'}">
        </a>
    </li>
</ul>
<ul class="navbar-nav" sec:authorize="isAuthenticated()" xmlns:sec="http://www.w3.org/1999/xhtml">
    <li class="nav-item">
        <a href="/profilepage" class="nav-link" sec:authentication="principal.user.firstName"><strong></strong></a>
    </li>
</ul>

<ul sec:authorize="!isAuthenticated()" class="navbar-nav ml-auto" xmlns:sec="http://www.w3.org/1999/xhtml">
    <li class="nav-item">
        <a href="/login" class="nav-link "><strong>Войти</strong></a>
    </li>
</ul>

