<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-expand-sm" th:insert="menu.html"></nav>

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" th:each="course : ${myCourses}">
        <a th:if="${course.creator.id != #authentication.getPrincipal().user.id}" th:href="${'/course/' + course.id}"
           th:text="${course.getTitle() + ' (' + course.creator.lastName + ' '+course.creator.firstName+')'}"></a>
        <a th:if="${course.creator.id == #authentication.getPrincipal().user.id}" th:href="${'/course/' + course.id}"
           th:text="${course.getTitle() + ' (Ваш)'}"></a>
        <span class="badge badge-primary badge-pill" th:text="${course.lessons.size}"></span>
    </li>
</ul>
<p th:if="${myCourses == null}">У вас еще нет курсов</p>
</body>
</html>